<div class="container">
  <section class="nav">
    <button mat-fab color="primary" class="changerLanguage">
      <mat-icon>language</mat-icon>
    </button>
    <button mat-fab color="primary" class="import">
      <mat-icon>upload_file</mat-icon>
    </button>
  </section>

  <div class="word">
    <div class="interfaceContainer" >
      @for (word of [words[randomNumber]]; track word) {
        <li>
          <p class="displayWord">{{word.polish }}</p>
        </li>
      }
      <input type="text" class="inputWord" [(ngModel)]="inWord" (keydown.enter)="compareWord()" />
      <button mat-fab color="primary" class="doneButton1"  (click)="compareWord()">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
</div>
