<div class="container">
  <section class="nav">
    <button mat-fab color="primary" class="changerLanguage">
      <mat-icon>language</mat-icon>
    </button>
    <button mat-fab color="primary" class="import">
      <mat-icon>upload_file</mat-icon>
    </button>
  </section>

  <div class="word">
    <div class="interfaceContainer">
      @for (word of words; track word; let index = $index) {
        <li>
          <p class="displayWord">{{ word.polish }} : {{ word.english }}</p>
        </li>
      }
      <input type="text" class="inputWord" />
      <button mat-fab color="primary" class="doneButton1">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
</div>
