

<div class="container">
<section class="nav">
<button mat-fab color="primary" class="changerLanguage"><mat-icon>language</mat-icon></button>
<button mat-fab color="primary" class="import"><mat-icon>upload_file</mat-icon></button>
</section>



<main class="word">
  <div class="interfaceContainer">
    <p class="displayWord">Example</p>
    <input type="text" class="inputWord">
    <button mat-fab color="primary" class="doneButton">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</main>
</div>
